@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;600&family=Roboto:wght@100;300&display=swap");

$color1: #371053;
$color2: #e9afff;
$color3: #00c9b1;
$color4: #eac6f1;
$color5: #605353;
$color6: #695d5d8e;
$color7: #d992f3;
$pink1: #e9afff;
$pink2:#FFA9E3;
$pink3:#FFADBB;
$orange1:#FFBF92;
$orange2: #FFDB73;
$yellow: #FFDB73;
$main-font: "Catamaran", sans-serif;
$text-shadow: 0 0 7px $color2, 0 0 10px $color2;