@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;600&family=Roboto:wght@100;300&display=swap");

$color1: #371053;
$color2: #e9afff;
$color3: #00c9b1;
$color4: #fffade;
$color5: #3e3838;
$color6: #2f2c2c8e;
$color7: #d992f3;
